.profile-left {
  padding: 4rem 0 0 0;
  /* background-color: salmon; */
}
.profile-right {
  padding: 1.5rem 0 4rem 0;
  /* background-color: seagreen; */
}

.strike-through {
  text-decoration: line-through;
}
.profile-property-block-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  margin: 0rem 0;
}
/* .profile-image-container {
  width: 210px;
  height: 210px;
  border: 0.2rem solid var(--main-black);
  border-radius: 50%;
  padding: 2.5px;
} */
.profile-image-container {
  /* width: 210px;
  height: 210px; */
  /* border: 0.2rem solid var(--main-black); */
  /* border-radius: 50%; */
  padding: 2.5px;
  display: flex;
  justify-content: center;
}
.profile-image {
  width: 250px;
  border: 0.2rem solid rgb(192, 181, 181);
  height: 250px;
  border-radius: 50%;
}
.profile-image img {
  border-radius: 50%;
  width: 100%;
}
.profile-edit-btn {
  width: 100%;
  padding: 1rem 0;
  border-radius: 0.5rem;
}
/* .profile-left-fullwidth{} */
/***** end of checkbox design  *****/
/* END OF FORM */

/* TABLET */
@media screen and (min-width: 768px) {
  .profile-left {
    padding: 4rem 0 0 0;
    /* background-color: salmon; */
  }
  .profile-right {
    padding: 1.5rem 0 4rem 0;
    /* background-color: seagreen; */
  }
  .profile-container {
    display: grid;
    grid-template-columns: 35% 63.5%;
    grid-row-gap: 2rem;
    grid-column-gap: 1.5rem;
  }
  .profile-image-container {
    padding: 2.5px;
    display: flex;
    justify-content: center;
  }
}
/* LAPTOP */
@media (min-width: 993px) {
  .profile-left {
    padding: 4rem 0;
    /* background-color: salmon; */
  }
  .profile-right {
    padding: 4rem 0;
    /* background-color: seagreen; */
  }
  .profile-container {
    display: grid;
    grid-template-columns: 25% 73.5%;
    grid-row-gap: 2rem;
    grid-column-gap: 1.5rem;
  }
  .profile-image-container {
    padding: 2.5px;
    display: flex;
    justify-content: center;
  }
}
