.auth-item {
  display: flex;
}
.login-bg-div {
  height: 100vh !important;
  flex-basis: 40%;
  flex-grow: 0;
  overflow: hidden;
}
.login-bg-div img {
  height: 100% !important;
}
.heading h2 {
  font-size: var(--medium-font);
}
.error-msg {
  color: red;
  font-size: 1.2rem;
}

.property-upload-btn {
  background-color: var(--main-white);
  padding: 0.1rem 1rem;
  border-radius: 6px;
  /* border-color: var(--sec-blue); */
  color: var(--primary-color);
  font-size: 15px;
  /* margin-right: 0.6rem; */
  border: solid 2px var(--primary-color);
  height: 34px;
  width: 100%;
}
/* note this */
.uploaded-img-bo {
  width: 50px;
  height: 50px;
  border: 0.2px solid var(--medium-grey);
  margin-right: 1rem;
}
.render-images-div {
  width: 70px !important;
  height: 70px !important;
}
.image-with-cancel {
  position: relative;
}
.image-with-cancel .cancel-icon {
  width: 30px !important;
  height: 30px !important;
  position: absolute;
  top: -12px;
  right: -11px;
}
.image-icon {
  height: 50px;
  width: 50px;
  color: var(--primary-color);
}
.empty-image-banner {
  height: 86px;
  width: 100% !important;
  /* background: var(--light-blue); */
  background: var(--sec-grey);

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.empty-image-banner p {
  color: var(--primary-color);
  font-size: 1.3rem;
}
.form-group .upload-browse-div {
  margin-bottom: 1rem !important;
  margin-top: 1.2rem !important;
  width: 100% !important;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.form-group .upload-browse-div img {
  height: 70px;
  width: 70px;
  /* margin: 0 1rem 0 0; */
}
.form-group .upload-browse-div p {
  color: red;
}
.form-group .upload-browse {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}
.form-file {
  display: none;
}
/***** VEERTICAL CENTERING *****/
.login-form {
  flex-basis: 100%;
  flex-grow: 0;
  position: relative;
  height: 100vh;
  margin: 0 auto;
}
.login-form-content {
  position: absolute;
  padding: 0 2rem;
  top: 20vh;
  width: 100%;
}
/***** END OF VERTICAL CENTERING *****/
.btn-full {
  width: 100%;
}
.back-btn {
  border: none;
  background-color: transparent;
  outline: none !important;
}
.back-arrow {
  margin: 0 0 3rem 0;
}
.arrow-back-icon {
  font-size: 2rem;
}
.alt-auth-div {
  margin: 3rem 0 0 0;
}
.alt-auth {
  text-decoration: none;
  color: var(--primary-color);
}
.forgot-password-div {
  margin: 0 0 2rem 0;
  display: flex;
  justify-content: flex-end;
}
/***** TABLET *****/
@media screen and (min-width: 768px) {
  .login-bg-div {
    height: 100vh !important;
    flex-basis: 40%;
    flex-grow: 0;
    overflow: hidden;
  }
  .login-bg-div img {
    height: 100% !important;
  }
  .login-form {
    flex-basis: 60%;
    flex-grow: 0;
    position: relative;
    height: 100vh;
    margin: 0 auto;
  }
  .login-form-content {
    position: absolute;
    padding: 0 5rem;
    top: 25vh;
    width: 100%;
  }
  .heading h2 {
    font-size: var(--medium-large);
  }
}
/***** LAPTOP *****/
@media (min-width: 993px) {
  .login-bg-div {
    height: 100vh !important;
    /* width: 100%; */
    /* width: 40vw !important; */
    flex-basis: 40%;
    flex-grow: 0;
    overflow: hidden;
  }
  .login-bg-div img {
    height: 100% !important;
    /* width: 100% !important; */
    /* width: 40vw !important; */
  }
  .login-form {
    flex-basis: 60%;
    flex-grow: 0;
    position: relative;
    height: 100vh;
    margin: 0 auto;
    max-width: 600px;
  }
  .login-form-content {
    position: absolute;
    padding: 0 10rem;
    top: 25vh;
    margin: 0 auto;
    width: 100%;
  }
  .heading h2 {
    font-size: var(--large-font);
  }
}
/* background-image: url("../../assets/full-property.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; */
