.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: aqua;
}
/* .navbar-container {
  max-width: 117rem;
  margin: 0 auto;
} */
.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 993px) {
  .navbar-container {
    max-width: 117rem;
    margin: 0 auto;
  }
  .navbar-btn {
    display: none;
  }
}
@media screen and (min-width: 768px) {
}
