.navbar-main-links {
  display: flex;
  align-items: center;
}
.navbar-btn {
  background: none;
  /* border: solid 0.2rem var(--primaryColor);
  border-radius: 0.4rem; */
  border: none;
  padding: 0.27rem 0.5rem 0rem 0.5rem;
  outline: none;
}
.navbar-btn-icon {
  font-size: 2rem;
  color: var(--mainBlack);
}
.navbar-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style: none;
}
.navbar-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 2rem;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  text-align: left;
}

@media (min-width: 993px) {
  .navbar-links {
    height: auto;
    display: flex;
  }
  .navbar-links a {
    margin: 0 2rem;
    padding: 0.5rem 0;

    color: var(--mainBlack);
  }
}
@media (max-width: 992px) {
}
@media (max-width: 600px) {
}
@media screen and (min-width: 768px) {
}
