.navbar-main-links {
  display: flex;
  align-items: center;
  display: none;
}

.navbar-btn-icon {
  font-size: 2rem;
  color: var(--mainBlack);
}
.navbar-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style: none;
}
.navbar-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 2rem;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  text-align: left;
}

/* LAPTOP */
@media (min-width: 993px) {
  .navbar-links {
    height: auto;
    display: flex;
  }
  .navbar-links a {
    margin: 0 2rem;
    padding: 0.5rem 0;

    color: var(--mainBlack);
  }
  .navbar-main-links {
    display: flex;
    align-items: center;
    /* display: block; */
  }
  .make-payment-link {
    padding: 0 3rem;
  }
}
/* IPHONE */
@media (max-width: 600px) {
}
/* TABLET */
@media screen and (min-width: 768px) {
  .make-payment-link{
    /* padding: 0 0rem; */
  }
}
/* IPAD */
@media (max-width: 992px) {
  .make-payment-link {
    padding: 0 0rem;
  }
}
