.contact-left {
  padding: 4rem 0 0 0;
  /* background-color: salmon; */
}
.contact-right {
  padding: 1.5rem 0 4rem 0;
  /* background-color: seagreen; */
}
.contact-resource-container {
  border: 3px solid var(--main-grey);
  padding: 2rem;
  margin: 0 0 0 0;
  border-radius: 5px;
}
.contact-resource {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}
.estate-resource {
  text-align: center;
}
.estate-resource-text {
  width: 100px;
  margin: 0 auto;
}
.customer-resource-container {
  border: 3px solid var(--main-grey);
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0 0 1.5rem 0;
  align-items: center;
}
.contact-resource-title {
  margin: 0 0 2rem 0;
}
.contact-resource-title h4 {
  text-align: center;
}
.customer-resource-text {
  margin: 0 0 0 0rem;
  width: 100%;
  text-align: center;
}
.home-resource-icon {
  font-size: 13rem;
  color: var(--primary-color);
  border: solid 3px var(--primary-color);
  padding: 2rem;
  border-radius: 5px;
}
.contact-form-container {
  border: 3px solid var(--main-grey);
  padding: 2rem;
  margin: 0 0 1.5rem 0;
  border-radius: 5px;
  width: 100%;
}
.customer-resource-contacts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}

/* FOR THE FORM */
.form-group {
  margin: 15px 0;
}
.form-field {
  height: 35px;
  width: 100%;
}
input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  background-color: var(--sec-grey);
  border: none;
}
textarea {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  background-color: var(--sec-grey);
  border: none;
}
select {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  background-color: var(--sec-grey);
  border: none;
}
input::placeholder {
  font-weight: lighter;
  /* color: var(--main-grey); */
}
textarea::placeholder {
  font-weight: lighter;
  /* color: var(--main-grey); */
}

.form-field-textarea {
  width: 100%;
  resize: none;
}

.privacy-radio-div {
  display: flex;
}
.privacy-radio-div p {
  font-size: 12px;
}
/* Old radio-css */
.radio-public {
  margin-right: 2rem;
}

.form-group .radio-privacy {
  height: 10px;
}

.radio-privacy-label {
  margin-bottom: 0;
  /* font-size: 1rem !important; */
  color: var(--main-black) !important;
  font-weight: normal !important;
  padding: 0 0 0 0.6rem;
}

.privacy-radio-div input[type="radio"] {
  transform: scale(1.5);
  height: 15px;
}
.form-group-radio {
  display: flex;
  /* justify-content: space-between; */
  padding: 0 1.5rem;
}
.form-label-div{
  width: 150px !important;
}
/* END OF FORM */

/* TABLET */
@media screen and (min-width: 768px) {
  .contact-left {
    padding: 4rem 0 0 0;
    /* background-color: salmon; */
  }
  .contact-right {
    padding: 1.5rem 0 4rem 0;
    /* background-color: seagreen; */
  }
  .contact-container {
    /* display: grid;
    grid-template-columns: 63.5% 35%;
    grid-row-gap: 2rem;
    grid-column-gap: 1.5rem; */
  }
  .customer-resource-container {
    border: 3px solid var(--main-grey);
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
  }
  .customer-resource-text {
    margin: 0 0 0 2rem;
    width: 100%;
  }
  .customer-resource-text h4 {
    margin: 0 0 2rem 0;
  }
  .customer-resource-contacts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    /* USED IT TO BREAK OVERFLOWING WORDS */
    overflow-wrap: break-word;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
  }
  .contact-form-container {
    border: 3px solid var(--main-grey);
    padding: 2rem;
    margin: 0 0 1.5rem 0;
    border-radius: 5px;
    width: 50%;
  }
  input::placeholder {
    font-weight: lighter;
    /* color: var(--main-grey); */
  }
  textarea::placeholder {
    font-weight: lighter;
    /* color: var(--main-grey); */
  }
}
/* LAPTOP */
@media (min-width: 993px) {
  .contact-left {
    padding: 4rem 0;
    /* background-color: salmon; */
  }
  .contact-right {
    padding: 4rem 0;
    /* background-color: seagreen; */
  }
  .contact-container {
    display: grid;
    grid-template-columns: 73.5% 25%;
    grid-row-gap: 2rem;
    grid-column-gap: 1.5rem;
  }
  .contact-form-container {
    border: 3px solid var(--main-grey);
    padding: 2rem;
    margin: 0 0 1.5rem 0;
    border-radius: 5px;
    width: 100%;
  }
  .customer-resource-contacts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* USED IT TO BREAK OVERFLOWING WORDS */
    overflow-wrap: break-word;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
  }
  input::placeholder {
    font-weight: lighter;
    /* color: var(--main-grey); */
  }
  textarea::placeholder {
    font-weight: lighter;
    /* color: var(--main-grey); */
  }
}
