.contact-container {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-row-gap: 2rem;
  grid-column-gap: 1.5rem;
}
.contact-left {
  background-color: salmon;
}
.contact-right {
  background-color: seagreen;
}
/* TABLET */
@media screen and (min-width: 768px) {
}
/* LAPTOP */
@media (min-width: 993px) {
}
