.home-testimonials {
  padding: 4rem 0;
}

.testimonials-img img {
  border-radius: 50%;
}

.testimonials-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  box-shadow: var(--main-shadow);
  padding: 1rem;
}

.testimonials-content p {
  text-align: center;
}
/* TABLET */
@media screen and (min-width: 768px) {
  .testimonials-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    margin: 0 auto;
    box-shadow: var(--main-shadow);
    padding: 1rem;
  }
}
/* LAPTOP */
@media (min-width: 993px) {
  .testimonials-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
    box-shadow: var(--main-shadow);
    padding: 1rem;
  }
}
