.home-how-content-logo {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 3rem; */
  display: flex;
  flex-direction: row;
  
  margin: 0 auto;
}
.home-how-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-how-content {
  text-align: center;
}
.home-how-logo {
  padding: 2rem;
  background-color: var(--primary-color);
  border-radius: 4px;
}
.home-how-icon {
  color: var(--main-white);
  font-size: 5rem;
}
