.auth-item {
  display: flex;
}
.login-bg-div {
  height: 100vh !important;
  flex-basis: 40%;
  flex-grow: 0;
  overflow: hidden;
}
.login-bg-div img {
  height: 100% !important;
}
/***** VEERTICAL CENTERING *****/
.login-form {
  flex-basis: 100%;
  flex-grow: 0;
  position: relative;
  height: 100vh;
  margin: 0 auto;
}
.login-form-content{
  position: absolute;
  padding: 0 2rem;
  top: 30vh;
}
/***** END OF VERTICAL *****/
.btn-full {
  width: 100%;
}
/***** TABLET *****/
@media screen and (min-width: 768px) {
  .login-bg-div {
    height: 100vh !important;
    flex-basis: 40%;
    flex-grow: 0;
    overflow: hidden;
  }
  .login-bg-div img {
    height: 100% !important;
  }
  .login-form {
    flex-basis: 60%;
    flex-grow: 0;
    position: relative;
    height: 100vh;
    margin: 0 auto;
  }
  .login-form-content{
    position: absolute;
    padding: 0 5rem;
    top: 30vh;
  }
}
/***** LAPTOP *****/
@media (min-width: 993px) {
  .login-bg-div {
    height: 100vh !important;
    /* width: 100%; */
    /* width: 40vw !important; */
    flex-basis: 40%;
    flex-grow: 0;
    overflow: hidden;
  }
  .login-bg-div img {
    height: 100% !important;
    /* width: 100% !important; */
    /* width: 40vw !important; */
  }
  .login-form {
    flex-basis: 60%;
    flex-grow: 0;
    padding: 0 0rem;
    position: relative;
    height: 100vh;
    margin: 0 auto;
  }
  .login-form-content{
    position: absolute;
    top: 30vh;
  }
  .auth-item .login-form {
    max-width: 500px !important;
    margin: 0 auto;
  }
}
/* background-image: url("../../assets/full-property.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; */
