.gallery-img img {
  width: 100%;
}
/* .carousel{
  margin: 2rem 0;
} */
.carousel-div {
  padding: 1rem 0 0 0;
}
/* TABLET */
@media screen and (min-width: 768px) {
  .carousel-div {
    padding: 2rem 0 0 0;
  }
}
/* LAPTOP */
@media (min-width: 993px) {
  .gallery-img-grid-container {
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 2rem;
  }
  .gallery-img-grid {
    margin: 4rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.5rem;
  }
}
